<p style="color: green"><%= notice %></p>

<%= render @dono %>

<div>
  <%= link_to "Edit this dono", edit_dono_path(@dono) %> |
  <%= link_to "Back to donos", donos_path %>

  <%= button_to "Destroy this dono", @dono, method: :delete %>
</div>
