
<h1><strong> Elefante Preto - - Restaurante</strong></h1>

<ul>
  <li><%= link_to "Donos", donos_path%></li>
  <li><%= link_to "Funcionarios", funcionarios_path %></li>
  <li><%= link_to "Clientes", clientes_path %></li>
  <li><%= link_to "Pedidos", pedidos_path %></li>
  <li><%= link_to "Itens", items_path %></li>
</ul>