<h1>Pedidos</h1>

<div id="pedido">
  <% @pedidos.each do |pedido| %>
    <tr>
      <p>
        <strong>Cliente:</strong>
        <%= pedido.cliente.nome %>
      </p>
      <p>
        <strong>Item:</strong>
        <%= pedido.item.produto %>
      </p>
      <p>
        <strong>Quantidade:</strong>
        <%= pedido.quantidade %>
      </p>
      <p>
        <strong>Total:</strong>R$
        <%= pedido.total %>,00
      </p>
      <%= link_to "Show this pedido", pedido %>
    </tr>
  <% end %>
</div>

<%= link_to "New pedido", new_pedido_path %>
